.center{
    display: inline;
    margin: auto;
    text-align: center;
}
body{

    background-image: url("../images/Cruelty-Squad.png");
}
h1{
    margin: auto;
    text-align: center;
    width: 50%;
    font-size: 3em;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(239,74,232,1) 0%, rgba(21,246,94,1) 100%);
}
#login{

    margin-top: -2.25em;
    text-align: center;
    font-size: 1.5em;
    float: right;
    background-color: #15f65e;
}
#register{

    margin-top: -2.27em;
    text-align: center;
    font-size: 1.5em;
    float: right;
    background-color: #15f65e;
}
.top{
    background: linear-gradient(0deg, rgba(239,74,232,1) 0%, rgba(21,246,94,1) 100%);
    height: 4em;
}
.entry{
    height:12em;
    margin: auto;
    text-align: center;
    width: 70%;
    margin-top: 5%;
    background: linear-gradient(0deg, rgba(239,74,232,1) 0%, rgba(21,246,94,1) 100%);


}
.user{
    float: right;
    margin-right: 4%;
}

figcaption{
    display: inline;
    margin-left: 4%;
    font-size: .7em;
    clear: right;
    float: left;
}


.post{
    margin-left: 4%;
    float: left;
    font-size: 1.6em;
}

.preview{
    margin-left: 4%;
    margin-top: .5em;
    float: left;
    clear: both;

}
.imgPrev{
    margin-left: 4%;
    float: left;
    clear: both;
    height: auto;
    width: 20%
}
#sidebar{
    clear: both;
    margin-top: 4em;
    width: 7em;
    float: left;
    background-color: white;
}
#pfp{
    height: auto;
    clear: right;
    width: 4em;
}

article{
    margin: 2em;
    clear: right;
}