.center{
    display: inline;
    margin: auto;
    text-align: center;
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("../images/Cruelty-Squad.png");

}
h1{
    margin: auto;
    text-align: center;
    width: 50%;
    font-size: 3em;
}
form{
    margin-top: 15%;
    width: 66%;
    background: linear-gradient(0deg, rgba(239,74,232,1) 0%, rgba(21,246,94,1) 100%);
    margin-left: auto;
    margin-right: auto;
}