.center{
    display: inline;
    margin: auto;
    text-align: center;
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("../images/Fp6VKnQWIAICgsQ.png");
}
h1{
    margin: auto;
    text-align: center;
    width: 50%;
    font-size: 3em;
}
.top{
    background: linear-gradient(0deg, rgba(239,74,232,1) 0%, rgba(21,246,94,1) 100%);
    height: 4em;
}
.entry{
    height:30%;
    margin: auto;
    text-align: center;
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    background: linear-gradient(0deg, rgba(239,74,232,1) 0%, rgba(21,246,94,1) 100%);
}
.user{
    float: right;
    margin-right: 4%;
}


figcaption{

    margin-left: 4%;
    font-size: .7em;
    clear: both;
    float: left;
}


.post{
    margin-left: 4%;
    float: left;
    font-size: 1.6em;
    margin-top: 5%;
    margin-bottom: 5%;
}

.postText{
    margin-left: 4%;
    float: left;
    clear: left;
    margin-top: 5%;
    margin-bottom: 5%;

}
.image{
    position: relative;
    margin-left: 4%;
    margin-top: 4%;
    float: center;
    clear: both;
    height: auto;
    width: 20%
}
#sidebar{
    position: absolute;
    clear: both;
    margin-top: 4em;
    width: 7em;
    float: left;
    background-color: #ef4ae8;
}
#pfp{
    height: auto;
    clear: right;
    width: 4em;
}
footer{
    width: 100%;
    background-color: #474747;
}

.ratings{  
    background: linear-gradient(0deg, #7b5f2a 0%, #b03839 100%);
    margin-top: 30%;
    height:4em;
    
}

.good, .bad, .life, .death{
    width: 4em;
}

.score{
    display: inline;
    float: center;
}

.good, .life{
    float:left;
}

.bad, .death{
    float:right;
}